body {
  background: url("ingredients.jpg") no-repeat center center fixed;
}
.starter-template {
  padding: 40px 15px;
}
.well {
   background-color: rgba(245, 245, 245, 0.75);
}
.table {
font-size: 18px
}