<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/starter-template.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Ingredient Recommendation Engine</h1>
         <div class="input-group">
            <span class="input-group-addon">Input Yummly URL</span>
            <input type="text" class="form-control"
                   placeholder="http://www.yummly.com/recipe/Absolutely-Awesome-Bbq-Sauce-Allrecipes?columns=6&position=5%2F60">
         </div>
         <div>
             <h1>
                 Make this recipe more
             </h1>
         </div>
         <div class="btn-group">
            <button type="button" class="btn btn-default">Sweet</button>
            <button type="button" class="btn btn-default">Salty</button>
            <button type="button" class="btn btn-default">Sour</button>
            <button type="button" class="btn btn-default">Savory</button>
            <button type="button" class="btn btn-default">Bitter</button>
            <button type="button" class="btn btn-default">Piquant</button>
            <button type="button" class="btn btn-default">Surprise Me!</button>
          </div>
      </div>
      <div class="buttonbox">
          <button id="ingredientmaker">Recommend a new piquant ingredient.</button>
      </div>
      <div id="ingredient_box">
          <p>Ingredients go here.</p>
          <table class="table">
          </table>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script>
        var add_ingredients = function() {
            $('#ingredient_box').append('<p> center cut pork chops, brown mustard seeds, habanero chile, English mustard, chicken meat </p>');
        }
        $(document).ready(function() {
            $('#ingredientmaker').click(add_ingredients);
            }
        )
    </script>
  </body>
</html>
